<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>regservlet</display-name>
    <servlet-name>regservlet</servlet-name>
    <servlet-class>servlet.temp.regservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>regservlet</servlet-name>
    <url-pattern>/regservlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>reg.html</welcome-file>
    <welcome-file>update.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>updateserv</display-name>
    <servlet-name>updateserv</servlet-name>
    <servlet-class>servlet.temp.updateserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateserv</servlet-name>
    <url-pattern>/updateserv</url-pattern>
  </servlet-mapping>
</web-app>